@import "../../components/chat-item/chat-item.scss";

.chat {
  height: 100vh;
  display: flex;
}

.chat-list {
  min-width: 310px;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;
}

.chat-detail {
  width: 100%;
}