extends ../../layout/main.pug
include ../../components/property-item/property-item.pug
include ../../components/button-round/button-round.pug
include ../../components/link/link.pug


block linkCss
  link(rel='stylesheet', href='../reset.scss')
  link(rel='stylesheet', href='../base.scss')
  link(rel='stylesheet', href='./profile.scss')

block content
  .profile
    .profile__side
      +button-round('../chat-empty/chat-empty.pug')
    .profile__main
      .profile__icon
      .profile__settings
        .profile__name Иван
        .profile__property-list 
          +property-item('Почта', 'pochta@yandex.ru')
          +property-item('Логин', 'ivanivanov')
          +property-item('Имя ', 'Иван')
          +property-item('Фамилия ', 'Иванов')
          +property-item('Имя в чате ', 'Иван')
          +property-item('Телефон ', '+7 (909) 967 30 30')
        .profile__edit-list
          .profile__edit-item
            +link('../profile-edit/profile-edit.pug', 'Изменить данные', 'blue')
          .profile__edit-item
            +link('../password-edit/password-edit.pug', 'Изменить пароль', 'blue')
          .profile__edit-item
            +link('../index.pug', 'Выйти', 'red')