extends ../../layout/main.pug


block linkCss
  link(rel='stylesheet', href='../reset.scss')
  link(rel='stylesheet', href='../base.scss')
  link(rel='stylesheet', href='./profile.scss')

block content
  .profile profile