extends ../../layout/main.pug


block linkCss
  link(rel='stylesheet', href='../reset.scss')
  link(rel='stylesheet', href='../base.scss')
  link(rel='stylesheet', href='./profile-edit.scss')

block content
  .profile-edit profile-edit