.input-material {
  position: relative;
  padding-top: 16px;

  font-family: Inter;


  &__feild {
    border-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #3369F3;
    display: block;
    width: 100%;
    padding: 7px 0;

    &:focus + .input-material__label {
      top: 7px;
      font-size: 9px;
      line-height: 9px;
      color: #999999;
    }

    &:not(:placeholder-shown) + .input-material__label {
      top: 7px;
      font-size: 9px;
      line-height: 9px;
      color: #999999;
    }
  }


  &__label {
    font-size: 13px;
    line-height: 13px;
    color: #999999;
    position: absolute;
    top: 28px;
    left: 0;
    transition: top 0.2s;
  }
}