extends ../layout/main.pug

block linkCss
  link(rel='stylesheet', href='./index.scss')

block content
  form(action="./chat/chat.html", method="GET")
    include ../components/input-material/input-material.pug
    +input-material('text', 'login', 'Name')
    input(type="submit" value="Save")
